body {
  font-family: 'Roboto', Arial;
  text-rendering: optimizeLegibility;
}
/*--------------*/
/* Scroll Bars */
/*-------------*/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #343a40;
}

body::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

#viatura::-webkit-scrollbar,
#select-agente-1::-webkit-scrollbar,
#select-agente-2::-webkit-scrollbar {
  width: 5px;
}

#viatura::-webkit-scrollbar-track,
#select-agente-1::-webkit-scrollbar-track,
#select-agente-2::-webkit-scrollbar-track {
  background: #4F4F4F;
  border-radius: 40px;
}

#viatura::-webkit-scrollbar-thumb,
#select-agente-1::-webkit-scrollbar-thumb,
#select-agente-2::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

#tabela-colaboracao {
  height: 500px;
  overflow: auto;
}

#tabela-colaboracao::-webkit-scrollbar {
  width: 10px;
}

#tabela-colaboracao::-webkit-scrollbar-track {
  background: #343a40;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#tabela-colaboracao::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

#tabela-item-perdido {
  height: 600px;
  overflow: auto;
}

#tabela-item-perdido::-webkit-scrollbar{
  width: 10px;
}

#tabela-item-perdido::-webkit-scrollbar-track {
  background: #343a40;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#tabela-item-perdido::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

/*-----------------*/
/* Demais estilos */
/*---------------*/
#icon {
  transition: 0.3s;
}

#icon:hover {
  color: #797979;
}

#add-agent {
  margin-right: 15%;
  decoration: none;
  color: #333;
  transition: 0.2s;
}

#add-agent-recolhimento {
  margin-right: 18%;
  decoration: none;
  color: #333;
  transition: 0.2s;
}

#select-option:hover {
  background: #248eff;
  color: #fff;
}

#my-modal {
  top: 30%;
}

#paginador {
  position: fixed;
  top: 92%;
}

#input-pesquisa {
  border-top-left-radius: 3px !important;
}

#btn-pesquisa {
  border-top-right-radius: 3px !important;
}

/*-------------------*/
/*   Media Queries  */
/*------------------*/
@media (max-width: 991px) {
  /*-------
    Botões
  --------*/
  .btn-agente {
    margin: 0 !important;
  }

  .btn-alocacao {
    font-size: 12px !important;
  }

  .btn-config {
    font-size: 9px !important;
  }

  .btn-recolhimento {
    font-size: 9px !important;
  }

  .btn-estoque{
    padding: 0;
    display: flex !important;
    font-size: 15px;
    align-items: center !important;
    justify-content: center;
  }

  .btn-estoque i {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 0 !important;
  }

  .num-perdidos {
    margin-bottom: 0!important;
    font-size: 8px !important;
    margin-right: 10px;
  }

  .msg-perdidos{
    margin-bottom: 0!important;
    font-size: 14px;
  }

  #add-agent {
    margin-right: 7% !important;
  }

  #add-agent-recolhimento {
    margin-right: 7%;
  }

  /*--------
    NAVBAR
  ----------*/
  #navbar-brand {
    margin-left: 5px !important;
  }

  .menu-link {
    margin-top: 15px !important;
  }

  #user-button {
    margin-left: 5px !important;
  }

  /*---------
    Tabelas
  -----------*/
  tbody th {
    font-size: 14px !important;
  }

  .tabela-agente-tr {
    font-size: 12px !important;
    font-weight: 300 !important;
  }

  #tabela-colaboracao {
    max-height: 500px !important;
  }

  #tabela-colaboracao::-webkit-scrollbar,
  #tabela-item-perdido::-webkit-scrollbar {
    width: 5px !important;
  }

  /*--------
    Outros
  ----------*/
  .display-4 {
    font-size: 40px !important;
  }

  .total-perdido {
    font-size: 20px !important;
  }

  #paginador {
    position: relative;
  }
}
