<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/management/css/style.css">

    <link rel="icon" type="image/png" href="{% static 'management/Logo.png' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7b665cb419.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../static/management/css/bootstrap-datepicker.css">
    <script src="../../static/management/js/bootstrap-datepicker.min.js"></script>
    <script src="../../static/management/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <title>LogControle</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3" id="main-nav">
      <a href="{% url 'home' %}" class="ml-5">
        <img src="../../static/management/Logo.png" alt="Logo LogControle" style="max-height: 60px;">
      </a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link ml-1">MENU</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ml-1">ALOCAÇÕES</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ml-1">RECOLHIMENTOS</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'menuagente' %}" class="nav-link ml-1">AGENTES</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'menuviatura' %}" class="nav-link ml-1">VIATURAS</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'menuestoque' %}" class="nav-link ml-1">ESTOQUE</a>
          </li>


          <li class="nav-item dropdown ml-4 mr-5">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">OLÁ, <span style="text-transform: uppercase;">{{ user.username }}</span></a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">CONFIGURAÇÕES</a>
              <form  method="POST">
                {% csrf_token %}
                <a type="submit" class="dropdown-item" id="sair-button">SAIR</a>
              </form>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
  </body>
</html>
