{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Cadastrar Alocação</h1>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          {% if erro %}
            <div class="alert alert-danger text-center">
              <h3 class="mb-0">{{ erro  }}</h3>
            </div>
          {% endif %}

          <form method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="d-flex justify-content-center">
              <div class="col-lg-4 mr-3">
                <div class="form-group">
                  <label for="data">Data</label>
                  <input type="text" name="data" id="data" class="form-control" placeholder="Clique para selecionar..." required>
                </div>
              </div>
              <div class="col-lg-4 ml-3">
                <div class="form-group d-inline">
                  <label for="horario">Horário</label>
                  <input type="time" name="horario" id="horario" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
              <div class="col-lg-4 mr-3">
                <label for="item">Item</label>
                <select class="form-control" name="item"
                  {% if itens.count > 5 %}
                    onfocus='this.size=5;' id="item" onblur='this.size=1;' onchange='this.size=1; this.blur();'
                  {% endif %}
                  required
                >
                    {% for item in itens %}
                      <option value="{{ item.id }}">{{ item.nome }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-lg-4 ml-3">
                <label for="quantidade">Quantidade</label>
                {% if erroQuantidade %}
                  <input type="number" name="quantidade" id="quantidade" class="form-control is-invalid" min="1" required>
                  <div class="invalid-feedback">
                    {{ erroQuantidade }}
                  </div>
                {% else %}
                  <input type="number" name="quantidade" id="quantidade" class="form-control" min="1" required>
                {% endif %}
              </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
              <div class="col-lg-4 mr-3">
                <label for="turno">Turno</label>
                <select class="form-control" name="turno" id="turno" required>
                  <option value="Manhã">Manhã</option>
                  <option value="Tarde">Tarde</option>
                  <option value="Noite">Noite</option>
                  <option value="Madrugada">Madrugada</option>
                </select>
              </div>

              {% if viaturas.count <= 20 %}
                <div class="col-lg-4 ml-3" {% if viaturas.count > 5 %} id="select-viatura" {% endif %}>
                  <label for="viatura">Viatura</label>
                  <select class="form-control" name="viaturaId"
                    {% if viaturas.count > 5 %}id="viatura" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'{% endif %}>
                      <option value="-" selected>-</option>
                      {% for viatura in viaturas %}
                        <option value="{{ viatura.id }}" {% if viaturas.count > 5 %} id="select-option" {% endif %}>{{ viatura.numero }}</option>
                      {% endfor %}
                  </select>
                </div>
              {% else %}
                <div class="col-lg-4 ml-3">
                  <label for="viatura">Viatura</label>
                  {% if erroViatura %}
                    <input type="text" name="viaturaNumero" class="form-control is-invalid" placeholder="Digite o número da viatura">
                    <div class="invalid-feedback">
                      {{ erroViatura }}
                    </div>
                  {% else %}
                    <input type="text" name="viaturaNumero" class="form-control" placeholder="Digite o número da viatura">
                  {% endif %}
                </div>
              {% endif %}
            </div>

            <div class="d-flex justify-content-center">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="rua">Rua</label>
                  <input type="text" name="rua" class="form-control" placeholder="Informe a rua da alocação" required>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label for="numero">Número</label>
                  <input type="text" name="numero" class="form-control" placeholder="Informe o número da rua" required>
                </div>
              </div>
            </div>

            <div class="col-lg-9 mx-auto">
              <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" name="bairro" class="form-control" placeholder="Informe o bairro da alocação" required>
              </div>
            </div>

            <div class="col-lg-9 mx-auto">
              <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="text" name="complemento" class="form-control" placeholder="Se necessário, adicione um complemento">
              </div>
            </div>

            <div class="col-lg-9 mx-auto">
              <div class="form-group">
                <label for="motivo">Motivo</label>
                <input type="text" name="motivo" class="form-control" placeholder="Informe o motivo da alocação" required>
              </div>
            </div>

            <div class="col-lg-9 mx-auto mb-3" id="agente-1">
              <label for="agente-1">Agente</label>
              <select class="form-control" name="agente-1"
                {% if agentes.count > 5 %}
                  id="select-agente-1" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'
                {% endif %}
              >
                {% for agente in agentes %}
                  <option value="{{ agente.id }}" {% if agentes.count > 5 %} id="select-option" {% endif %}>{{ agente.gritodeguerra }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-lg-9 mx-auto mb-3">
              <div class="d-none" id="agente-2">
                <label for="agente">Agente</label>
                <select class="form-control agente-2-valor" name="agente-2"
                  {% if agentes.count > 5 %}
                    id="select-agente-2" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'
                  {% endif %}
                >
                  <option value="-">-</option>
                  {% for agente in agentes %}
                    <option value="{{ agente.id }}" {% if agentes.count > 5 %} id="select-option" {% endif %}>{{ agente.gritodeguerra }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <a href="#" id="add-agent"><i class="fas fa-plus fa-2x" id="icon"></i></a>
            </div>

            <input type="text" class="d-none" name="cadastrador" value="{{ user.id }}">

            <div class="col-lg-9 mx-auto">
              <div class="d-flex justify-content-end">
                <a href="{% url 'menu_alocacao' %}" class="btn btn-danger mt-4 mr-3">Cancelar</a>
                <button type="submit" class="btn btn-primary mt-4">Cadastrar</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  <script type="text/javascript">
    $('#data').datepicker({
			format: "dd/mm/yyyy",
			language: "pt-BR",
			autoclose: true,
			todayHighlight: true,
      orientation: "bottom left"
		});
  </script>

  <script>
    document.querySelector('#add-agent').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#agente-2').classList.toggle('d-none');

      var icon = document.querySelector('#icon');

      if (icon.classList.contains('fa-plus')) {
        document.querySelector('#icon').classList.remove('fa-plus');
        document.querySelector('#icon').classList.add('fa-minus');
      } else if (icon.classList.contains('fa-minus')) {
        document.querySelector('#icon').classList.remove('fa-minus');
        document.querySelector('#icon').classList.add('fa-plus');
        document.querySelector('.agente-2-valor').selectedIndex = "0";
      }

    });
  </script>
{% endblock %}
