{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Cadastrar Alocação</h1>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="d-flex justify-content-center">
              <div class="col-lg-4 mr-3">
                <div class="form-group">
                  <label for="data">Data</label>
                  <input type="text" name="data" id="data" class="form-control" placeholder="Clique para selecionar..." required>
                </div>
              </div>
              <div class="col-lg-4 ml-3">
                <div class="form-group d-inline">
                  <label for="horario">Horário</label>
                  <input type="time" name="horario" id="horario" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
              <div class="col-lg-4 mr-3">
                <label for="item">Item</label>
                <select class="form-control" name="item" id="item" required>
                  {% for item in itens %}
                    <option value="{{ item.id }}">{{ item.nome }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-lg-4 ml-3">
                <label for="quantidade">Quantidade</label>
                <input type="number" name="quantidade" id="quantidade" class="form-control" required>
              </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
              <div class="col-lg-4 mr-3">
                <label for="turno">Turno</label>
                <select class="form-control" name="turno" id="turno" required>
                  <option value="Manhã">Manhã</option>
                  <option value="Tarde">Tarde</option>
                  <option value="Noite">Noite</option>
                  <option value="Madrugada">Madrugada</option>
                </select>
              </div>

              <div class="col-lg-4 ml-3">
                <label for="viatura">Viatura</label>
                <select class="form-control" name="viatura" id="viatura">
                  <option value="None">-</option>
                  {% for viatura in viaturas %}
                    <option value="{{ item.viatura }}">{{ viatura.numero }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-lg-9 mx-auto">
              <div class="form-group">
                <label for="local">Local</label>
                <input type="text" name="local" class="form-control" placeholder="Informe o local da alocação" required>
              </div>
            </div>

            <div class="col-lg-9 mx-auto">
              <div class="form-group">
                <label for="motivo">Motivo</label>
                <input type="text" name="motivo" class="form-control" placeholder="Informe o motivo da alocação" required>
              </div>
            </div>

            <div class="col-lg-9 mx-auto mb-3" id="agente-1">
              <label for="agente-1">Agente</label>
              <select class="form-control" name="agente-1">
                {% for agente in agentes %}
                  <option value="{{ agente.id }}">{{ agente.gritodeguerra }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-lg-9 mx-auto mb-3">
              <div class="d-none" id="agente-2">
                <label for="agente">Agente</label>
                <select class="form-control" name="agente-2">
                  {% for agente in agentes %}
                    <option value="{{ agente.id }}">{{ agente.gritodeguerra }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <a href="#" id="add-agent"><i class="fas fa-plus fa-2x" id="icon"></i></a>
            </div>

            <div class="col-lg-9 mx-auto">
              <button type="submit" class="btn btn-primary btn-block mt-4">CADASTRAR</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>


  <script type="text/javascript">
    $('#data').datepicker({
			format: "dd/mm/yyyy",
			language: "pt-BR",
			autoclose: true,
			todayHighlight: true,
      orientation: "bottom left"
		});
  </script>

  <script>
    document.querySelector('#add-agent').addEventListener('click', function() {
      document.querySelector('#agente-2').classList.toggle('d-none');

      var icon = document.querySelector('#icon');

      if (icon.classList.contains('fa-plus')) {
        document.querySelector('#icon').classList.remove('fa-plus');
        document.querySelector('#icon').classList.add('fa-minus');
      } else if (icon.classList.contains('fa-minus')) {
        document.querySelector('#icon').classList.remove('fa-minus');
        document.querySelector('#icon').classList.add('fa-plus');
      }

    });
  </script>
{% endblock %}
