{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col-lg-4">
          <a href="{% url 'criaralocacao' %}" class="btn btn-danger btn-block align-self-center"><i class="fas fa-clipboard mb-1 fa-3x"></i> <p class="mb-0 my-auto">CADASTRAR ALOCAÇÃO</p></a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="btn btn-primary btn-block"><i class="fas fa-clipboard-check mb-1 fa-3x"></i> <p class="mb-0">CADASTRAR RECOLHIMENTO</p></a>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <h1 class="display-4 text-center">Sem dados ainda</h1>

        <table>
          <thead>

          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
