{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Bem Vindo(a) ao LogControle!</h1>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-4">
          <a href="{% url 'criaralocacao' %}" class="btn btn-danger btn-block align-self-center"><i class="fas fa-clipboard mb-2 fa-3x"></i> <p class="mb-0 my-auto">CADASTRAR ALOCAÇÃO</p></a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="btn btn-primary btn-block"><i class="fas fa-clipboard-check mb-2 fa-3x"></i> <p class="mb-0">CADASTRAR RECOLHIMENTO</p></a>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
          {% if alocacoesrecolhimentos %}
          <div class="table-responsive" id="tabela-colaboracao">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="row" class="text-center">#</th>
                  <th scope="row" class="text-center">Tipo</th>
                  <th scope="row" class="text-center">Data</th>
                  <th scope="row" class="text-center">Cadatrador</th>
                  <th scope="row" class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                {% for alocacaorecolhimento in alocacoesrecolhimentos %}
                  <tr>
                    <th scope="col" class="text-center py-4">{{ alocacaorecolhimento.id }}</th>
                    <th class="text-center py-4">
                      {% if alocacaorecolhimento.alocacao %}
                        Alocação
                      {% elif alocacaorecolhimento.recolhimento %}
                        Recolhimento
                      {% endif %}
                    </th>
                    <th class="text-center py-4">
                      {% if alocacaorecolhimento.alocacao %}
                        {{ alocacaorecolhimento.alocacao.data|date:'d/m/Y' }}
                      {% elif alocacaorecolhimento.recolhimento %}
                        {{ alocacaorecolhimento.recolhimento.data|date:'d/m/Y' }}
                      {% endif %}
                    </th>
                    <th class="text-center py-4">
                      {% if alocacaorecolhimento.alocacao %}
                        <span style="text-transform: capitalize;">{{ alocacaorecolhimento.alocacao.cadastrador }}</span>
                      {% elif alocacaorecolhimento.recolhimento %}
                        <span >{{ alocacaorecolhimento.recolhimento.cadastrador }}</span>
                      {% endif %}
                    </th>
                    <th class="text-center py-3"><a
                      {% if alocacaorecolhimento.alocacao %}
                        href="{% url 'detalhealocacao' alocacaorecolhimento.alocacao_id %}"
                      {% elif alocacaorecolhimento.recolhimento %}
                        href="#"
                      {% endif %}
                      class="btn btn-outline-primary">Detalhes</a>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
            <h2 class="text-center mt-3">Sem dados ainda</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
