{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Itens Perdidos/Extraviados</h1>
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <a href="{% url 'menuestoque' %}" class="btn btn-primary btn-block rounded-pill"><i class="fas fa-home mr-2"></i> MENU ESTOQUE</a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="btn btn-success btn-block rounded-pill"><i class="fas fa-plus mr-2"></i> CADASTRAR PERDA/EXTRAVIO</a>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="table-responsive" id="tabela-colaboracao">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Data</th>
                <th scope="col" class="text-center">Horário</th>
                <th scope="col" class="text-center">Item</th>
                <th scope="col" class="text-center">Quantidade</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              {% for itemperdido in itensperdidos %}
                <tr>
                  <th scope="row" class="text-center py-4">{{ itemperdido.id }}</th>
                  <th scope="row" class="text-center py-4">{{ itemperdido.data|date:'d/m/Y' }}</th>
                  <th scope="row" class="text-center py-4">{{ itemperdido.horario|date:'H:i' }}</th>
                  <th scope="row" class="text-center py-4">{{ itemperdido.alocacao.item.nome }}</th>
                  <th scope="row" class="text-center py-4">{{ itemperdido.quantidade }}</th>
                  <th scope="row" class="text-center py-3"><a href="#" class="btn btn-outline-primary">Detalhes</a></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
