{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Viaturas</h1>
      <div class="row justify-content-center">
        <div class="col-lg-4 mx-auto">
          <a href="{% url 'cadastrar_viatura' %}" class="btn btn-primary btn-block py-2 mb-4 rounded-pill"><i class="fas fa-plus mr-2"></i>ADICIONAR NOVA VIATURA</a>
        </div>
      </div>

      <div class="row justify-content-end mt-4">

        <div class="mb-3 mr-4">
          <div class="dropdown">
            <a href="#" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-offset="-125,0">
              Filtrar <i class="fas fa-filter"></i>
            </a>
            <div class="dropdown-menu">
              <button onclick="ordenarNumeroCrescente()" class="dropdown-item"><i class="fas fa-sort-numeric-down"></i> Nº Viatura Crescente</button>
              <button onclick="ordenarNumeroDecrescente()" class="dropdown-item"><i class="fas fa-sort-numeric-up-alt"></i> Nº Viatura Decrescente</button>
              <button onclick="ordenarCrescente()" class="dropdown-item"><i class="fas fa-sort-amount-up"></i> ID Crescente</button>
              <button onclick="ordenarDecrescente()" class="dropdown-item"><i class="fas fa-sort-amount-down"></i> ID Decrescente</button>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          {% if viaturas %}
            <div class="table-resposive" id="tabela-colaboracao">
              <table class="table table-hover" id="tabela">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Número</th>
                    <th scope="col" class="text-center">Placa</th>
                    <th scope="col" class="text-center"><span class="fas fa-ellipsis-h"></span></th>
                  </tr>
                </thead>
                <tbody>
                  {% for viatura in viaturas %}
                    <tr>
                      <td scope="row" class="text-center py-4">{{ viatura.id }}</td>
                      <td class="text-center py-4">{{ viatura.numero }}</td>
                      <td class="text-center py-4">{{ viatura.placa }}</td>
                      <td class="text-center py-3">
                        <div class="dropdown">
                          <a href="#" class="nav-link dropdown-toggle btn btn-outline-primary mx-auto" style="max-width: 100px" data-toggle="dropdown" aria-expanded="false">Opções</a>
                          <div class="dropdown-menu">
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#editar-viatura-modal-{{ viatura.numero }}"><i class="fas fa-pencil-alt"></i> Editar</a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#excluir-viatura-modal-{{ viatura.numero }}"><i class="fas fa-trash"></i> Deletar</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <!-- Modal para a edição da viatura -->
                    <div class="modal fade text-dark" id="editar-viatura-modal-{{ viatura.numero }}">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Editar viatura {{ viatura.numero }}</h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                            <form method="POST" id="editar-form">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="numero">Número</label>
                                <input type="text" name="numeroAntigo" class="d-none" value="{{ viatura.numero }}">
                                <input type="text" class="form-control" name="numero" id="numero" value="{{ viatura.numero }}">
                              </div>
                              <div class="form-group">
                                <label for="placa">Placa</label>
                                <input type="text" name="placa" id="placa" class="form-control" value="{{ viatura.placa }}">
                              </div>
                              <div class="d-flex justify-content-end">
                                <button class="btn btn-danger mr-3" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal para a deleção da viatura -->
                    <div class="modal fade text-dark" id="excluir-viatura-modal-{{ viatura.numero }}">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Atenção!</h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body text-center">
                            <p class="mb-0">Você tem certeza que quer deletar a viatura {{ viatura.numero }}</p>
                          </div>
                          <div class="modal-footer">
                            <div class="d-flex justify-content-end">
                              <a href="#" class="btn btn-danger mr-3">Não</a>
                              <form method="POST">
                                {% csrf_token %}
                                <input type="text" class="d-none" name="viatura" value="{{ viatura.id }}">
                                <button type="submit" class="btn btn-primary">Sim</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <h2 class="text-center text-secondary">Nenhuma viatura cadastrada</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <script>
    function ordenarNumeroCrescente() {
      console.log('ENTROU')
      var tabela, linhas, trocando, i, x, y, deveTrocar;
      tabela = document.getElementById('tabela');
      trocando = true;

      while (trocando) {
        trocando = false;
        linhas = tabela.rows;

        for (i=1; i < (linhas.length - 1); i++) {
          deveTrocar = false;
          x = linhas[i].getElementsByTagName('TD')[1];
          y = linhas[i + 1].getElementsByTagName('TD')[1];

          x = Number(x.innerHTML)
          y = Number(y.innerHTML)

          if(x > y) {
            deveTrocar = true;
            break;
          }
        }
        if (deveTrocar) {
          linhas[i].parentNode.insertBefore(linhas[i + 1], linhas[i]);
          trocando = true
        }
      }
    }

    function ordenarNumeroDecrescente() {
      var tabela, linhas, trocando, i, x, y, deveTrocar;
      tabela = document.getElementById('tabela');
      trocando = true;

      while (trocando) {
        trocando = false;
        linhas = tabela.rows;

        for (i=1; i < (linhas.length - 1); i++) {
          deveTrocar = false;
          x = linhas[i].getElementsByTagName('TD')[1];
          y = linhas[i + 1].getElementsByTagName('TD')[1];

          x = Number(x.innerHTML)
          y = Number(y.innerHTML)

          if(x < y) {
            deveTrocar = true;
            break;
          }
        }
        if (deveTrocar) {
          linhas[i].parentNode.insertBefore(linhas[i + 1], linhas[i]);
          trocando = true
        }
      }
    }

    function ordenarCrescente() {
      var tabela, linhas, trocando, i, x, y, deveTrocar;
      tabela = document.getElementById('tabela');
      trocando = true;

      while (trocando) {
        trocando = false;
        linhas = tabela.rows;

        for (i=1; i < (linhas.length - 1); i++) {
          deveTrocar = false;
          x = linhas[i].getElementsByTagName('TD')[0];
          y = linhas[i + 1].getElementsByTagName('TD')[0];

          x = Number(x.innerHTML)
          y = Number(y.innerHTML)

          if(x > y) {
            deveTrocar = true;
            break;
          }
        }
        if (deveTrocar) {
          linhas[i].parentNode.insertBefore(linhas[i + 1], linhas[i]);
          trocando = true
        }
      }
    }

    function ordenarDecrescente() {
      var tabela, linhas, trocando, i, x, y, deveTrocar;
      tabela = document.getElementById('tabela');
      trocando = true;

      while (trocando) {
        trocando = false;
        linhas = tabela.rows;

        for (i=1; i < (linhas.length - 1); i++) {
          deveTrocar = false;
          x = linhas[i].getElementsByTagName('TD')[0];
          y = linhas[i + 1].getElementsByTagName('TD')[0];

          x = Number(x.innerHTML)
          y = Number(y.innerHTML)

          if(x < y) {
            deveTrocar = true;
            break;
          }
        }
        if (deveTrocar) {
          linhas[i].parentNode.insertBefore(linhas[i + 1], linhas[i]);
          trocando = true
        }
      }
    }
  </script>
{% endblock %}
