{% extends 'management/base.html' %}

{% block content %}
  <section class="pt-5">
    <div class="container">
      <h1 class="display-4 text-center mb-4">Procurar Recolhimento por Tipo</h1>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <!-- Formulário para a pesquisa -->
          <form method="GET" autocomplete="off">
            <div class="input-group">
              <input type="text" name="valor" class="form-control rounded-0" id="input-pesquisa" placeholder="Coloque o valor">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary rounded-0" id="btn-pesquisa"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <div class="input-group bg-secondary text-white py-2 rounded-bottom">
              <div class="custom-control custom-radio mr-3 ml-auto">
                <input type="radio" class="custom-control-input" name="pesquisa" id="data" value="data">
                <label class="custom-control-label" for="data">Data</label>
              </div>
              <div class="custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" name="pesquisa" id="item" value="item">
                <label class="custom-control-label" for="item">Item</label>
              </div>
              <div class="custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" name="pesquisa" id="agente" value="agente">
                <label class="custom-control-label" for="agente">Agente</label>
              </div>
              <div class="custom-control custom-radio mr-auto">
                <input type="radio" class="custom-control-input" name="pesquisa" id="viatura" value="viatura">
                <label class="custom-control-label" for="viatura">Viatura</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        {% if dica %}
          <div class="alert alert-light text-center">
            <h3>{{ dica }}</h3>
          </div>
        {% endif %}

        <!-- Display cards dos resultados -->
        {% if recolhimentos %}
          <!-- Método de mostrar é diferente dos demais devido o fato de seus dados serem armazendos em uma tabela diferente -->
          {% if resultado == 'agente' %}
            <!-- Verifica se o número de alocações encontradas é menor ou igual a 6, se for, as mostra como cards -->
            {% if recolhimentos.count <= 6 %}
              {% for recolhimento in recolhimentos %}
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <p>
                        <span class="mr-3"><strong>Data:</strong> {{ recolhimento.recolhimento.data|date:'d/m/Y' }}</span>
                        <span><strong>Horário:</strong> {{ recolhimento.recolhimento.horario|date:'H:i' }}</span>
                      </p>
                      <p>
                        <span class="mr-3"><strong>Item:</strong> {{ recolhimento.recolhimento.alocacao.item.nome }}</span>
                        <span><strong>Quantidade:</strong> {{ recolhimento.recolhimento.quantidade }}</span>
                      </p>
                      <p class="mb-0"><strong>Cadastrador:</strong> <span style="text-transform: capitalize;">{{ recolhimento.recolhimento.cadastrador }}</span></p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="{% url 'detalhe_recolhimento' recolhimento.recolhimento.id %}" class="btn btn-outline-primary">Detalhes</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            <!-- Se o número de alocações encontradas for maior que 6, as mostra em uma tabela  -->
            {% else %}
              <div class="table-responsive" id="tabela-colaboracao">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Data</th>
                      <th scope="col" class="text-center">Horário</th>
                      <th scope="col" class="text-center">Item</th>
                      <th scope="col" class="text-center">Quantidade</th>
                      <th scope="col" class="text-center">Cadastrador</th>
                      <th scope="col" class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for recolhimento in recolhimentos %}
                      <tr>
                        <th scope="row" class="text-center py-4">{{ recolhimento.recolhimento.id }}</th>
                        <th scope="row" class="text-center py-4">{{ recolhimento.recolhimento.data|date:'d/m/Y' }}</th>
                        <th scope="row" class="text-center py-4">{{ recolhimento.recolhimento.horario|date:'H:i' }}</th>
                        <th scope="row" class="text-center py-4">{{ recolhimento.recolhimento.alocacao.item.nome }}</th>
                        <th scope="row" class="text-center py-4">{{ recolhimento.recolhimento.quantidade }}</th>
                        <th scope="row" class="text-center py-4"><span style="text-transform: capitalize;">{{ recolhimento.recolhimento.cadastrador }}</span></th>
                        <th scope="row" class="text-center py-3">
                          <a href="{% url 'detalhe_recolhimento' recolhimento.recolhimento.id %}" class="btn btn-outline-primary">Detalhes</a>
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          {% else %}
            <!-- Verifica se o número de alocações encontradas é menor ou igual a 6, se for, as mostra como cards -->
            {% if recolhimentos.count <= 6 %}
              <!-- Método de mostrar os resultados -->
              {% for recolhimento in recolhimentos %}
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <p>
                        <span class="mr-3"><strong>Data:</strong> {{ recolhimento.data|date:'d/m/Y' }}</span>
                        <span><strong>Horário:</strong> {{ recolhimento.horario|date:'H:i' }}</span>
                      </p>
                      <p>
                        <span class="mr-3"><strong>Item:</strong> {{ recolhimento.alocacao.item.nome }}</span>
                        <span><strong>Quantidade:</strong> {{ recolhimento.quantidade }}</span>
                      </p>
                      <p class="mb-0"><strong>Cadastrador:</strong> <span style="text-transform: capitalize;">{{ recolhimento.cadastrador }}</span></p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="{% url 'detalhe_recolhimento' recolhimento.id %}" class="btn btn-outline-primary">Detalhes</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            <!-- Se o número de alocações encontradas for maior que 6, as mostra em uma tabela  -->
            {% else %}
            <div class="table-responsive" id="tabela-colaboracao">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Horário</th>
                    <th scope="col" class="text-center">Item</th>
                    <th scope="col" class="text-center">Quantidade</th>
                    <th scope="col" class="text-center">Cadastrador</th>
                    <th scope="col" class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for recolhimento in recolhimentos %}
                    <tr>
                      <th scope="row" class="text-center py-4">{{ recolhimento.id }}</th>
                      <th scope="row" class="text-center py-4">{{ recolhimento.data|date:'d/m/Y' }}</th>
                      <th scope="row" class="text-center py-4">{{ recolhimento.horario|date:'H:i' }}</th>
                      <th scope="row" class="text-center py-4">{{ recolhimento.alocacao.item.nome }}</th>
                      <th scope="row" class="text-center py-4">{{ recolhimento.quantidade }}</th>
                      <th scope="row" class="text-center py-4"><span style="text-transform: capitalize;">{{ recolhimento.cadastrador }}</span></th>
                      <th scope="row" class="text-center py-3">
                        <a href="{% url 'detalhe_recolhimento' recolhimento.id %}" class="btn btn-outline-primary">Detalhes</a>
                      </th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          {% endif %}
        {% elif resultado == 'nenhum' %}
        <div class="alert alert-light text-center">
          <h3 class="text-center">Nenhum resultado encontrado</h3>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
