{% extends 'management/base.html' %}

{% block content %}
  <section class="pt-5">
    <div class="container">
      <h1 class="display-4 text-center mb-4">Procurar Alocação por Tipo</h1>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <!-- Formulário para a pesquisa -->
          <form method="GET" autocomplete="off">
            <div class="input-group">
              <input type="text" name="valor" class="form-control rounded-0" id="input-pesquisa" placeholder="Coloque o valor">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary rounded-0" id="btn-pesquisa"><i class="fas fa-search"></i></button>
              </div>
            </div>
            <div class="input-group bg-secondary text-white py-2 rounded-bottom">
              <div class="custom-control custom-radio mr-3 ml-auto">
                <input type="radio" class="custom-control-input" name="pesquisa" id="data" value="data">
                <label class="custom-control-label" for="data">Data</label>
              </div>
              <div class="custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" name="pesquisa" id="item" value="item">
                <label class="custom-control-label" for="item">Item</label>
              </div>
              <div class="custom-control custom-radio mr-3">
                <input type="radio" class="custom-control-input" name="pesquisa" id="agente" value="agente">
                <label class="custom-control-label" for="agente">Agente</label>
              </div>
              <div class="custom-control custom-radio mr-auto">
                <input type="radio" class="custom-control-input" name="pesquisa" id="viatura" value="viatura">
                <label class="custom-control-label" for="viatura">Viatura</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        {% if dica %}
          <div class="alert alert-light text-center">
            <h3>{{ dica }}</h3>
          </div>
        {% endif %}

        <!-- Display cards dos resultados -->
        {% if alocacoes %}
          <!-- Método de mostrar é diferente dos demais devido o fato de seus dados serem armazendos em uma tabela diferente -->
          {% if resultado == 'agente' %}
            <!-- Verifica se o número de alocações encontradas é menor ou igual a 6, se for, as mostra como cards -->
            {% if alocacoes.count <= 6 %}
              {% for alocacao in alocacoes %}
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><span class="mr-3">
                        <strong>Data:</strong> {{ alocacao.alocacao.data|date:'d/m/Y' }}</span> <span><strong>Horário:</strong> {{ alocacao.alocacao.horario|date:'H:i' }}</span>
                      </p>
                      <p><strong>Local:</strong> {{ alocacao.alocacao.rua|striptags|truncatechars:27 }}, {{ alocacao.alocacao.numero }}</p>
                      <p>
                        <span class="mr-3"><strong>Item:</strong> {{ alocacao.alocacao.item.nome }}</span> <span><strong>Quantidade:</strong> {{ alocacao.alocacao.quantidade }}</span>
                      </p>
                      <p class="mb-0"><strong>Motivo:</strong> {{ alocacao.alocacao.motivo|striptags|truncatechars:27 }}</p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="{% url 'detalhealocacao' alocacao.alocacao.id %}" class="btn btn-outline-primary mr-3">Detalhes</a>
                      {% if alocacao.alocacao.status == 'Aberto' %}
                        <a href="{% url 'cadastrarrecolhimento' alocacao.alocacao.id %}" class="btn btn-outline-success">Recolher</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            <!-- Se o número de alocações encontradas for maior que 6, as mostra em uma tabela  -->
            {% else %}
              <div class="table-responsive" id="tabela-colaboracao">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Data</th>
                      <th scope="col" class="text-center">Horário</th>
                      <th scope="col" class="text-center">Local</th>
                      <th scope="col" class="text-center">Item</th>
                      <th scope="col" class="text-center">Quantidade</th>
                      <th scope="col" class="text-center">Motivo</th>
                      <th scope="col" class="text-center">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for alocacao in alocacoes %}
                      <tr>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.id }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.data|date:'d/m/Y' }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.horario|date:'H:i' }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.rua|striptags|truncatechars:27 }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.item.nome }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.quantidade }}</th>
                        <th scope="row" class="text-center py-4">{{ alocacao.alocacao.motivo|striptags|truncatechars:27 }}</th>
                        <th scope="row" class="text-center py-3">
                          {% if alocacao.alocacao.status != 'Aberto' %}
                            <a href="{% url 'detalhealocacao' alocacao.alocacao.id %}" class="btn btn-outline-primary">Detalhes</a>
                          {% else %}
                            <a href="{% url 'detalhealocacao' alocacao.alocacao.id %}" class="btn btn-outline-primary mr-3">Detalhes</a>
                            <a href="{% url 'cadastrarrecolhimento' alocacao.alocacao.id %}" class="btn btn-outline-success">Recolher</a>
                          {% endif %}
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          {% else %}
            <!-- Verifica se o número de alocações encontradas é menor ou igual a 6, se for, as mostra como cards -->
            {% if alocacoes.count <= 6 %}
              <!-- Método de mostrar os resultados -->
              {% for alocacao in alocacoes %}
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><span class="mr-3"><strong>Data:</strong> {{ alocacao.data|date:'d/m/Y' }}</span> <span><strong>Horário:</strong> {{ alocacao.horario|date:'H:i' }}</span></p>
                      <p><strong>Local:</strong> {{ alocacao.rua|striptags|truncatechars:27 }}, {{ alocacao.numero }}</p>
                      <p><span class="mr-3"><strong>Item:</strong> {{ alocacao.item.nome }}</span> <span><strong>Quantidade:</strong> {{ alocacao.quantidade }}</span></p>
                      <p class="mb-0"><strong>Motivo:</strong> {{ alocacao.motivo|striptags|truncatechars:27 }}</p>
                    </div>
                    <div class="card-footer text-center">
                      <a href="{% url 'detalhealocacao' alocacao.id %}" class="btn btn-outline-primary {% if alocacao.status == 'Aberto' %} mr-3 {% endif %}">Detalhes</a>
                      {% if alocacao.status == 'Aberto' %}
                        <a href="{% url 'cadastrarrecolhimento' alocacao.id %}" class="btn btn-outline-success">Recolher</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            <!-- Se o número de alocações encontradas for maior que 6, as mostra em uma tabela  -->
            {% else %}
            <div class="table-responsive" id="tabela-colaboracao">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Horário</th>
                    <th scope="col" class="text-center">Local</th>
                    <th scope="col" class="text-center">Item</th>
                    <th scope="col" class="text-center">Quantidade</th>
                    <th scope="col" class="text-center">Motivo</th>
                    <th scope="col" class="text-center">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {% for alocacao in alocacoes %}
                    <tr>
                      <th scope="row" class="text-center py-4">{{ alocacao.id }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.data|date:'d/m/Y' }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.horario|date:'H:i' }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.rua|striptags|truncatechars:27 }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.item.nome }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.quantidade }}</th>
                      <th scope="row" class="text-center py-4">{{ alocacao.motivo|striptags|truncatechars:27 }}</th>
                      <th scope="row" class="text-center py-3">
                        {% if alocacao.status != 'Aberto' %}
                          <a href="{% url 'detalhealocacao' alocacao.id %}" class="btn btn-outline-primary">Detalhes</a>
                        {% else %}
                          <a href="{% url 'detalhealocacao' alocacao.id %}" class="btn btn-outline-primary mr-3">Detalhes</a>
                          <a href="{% url 'cadastrarrecolhimento' alocacao.id %}" class="btn btn-outline-success">Recolher</a>
                        {% endif %}
                      </th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          {% endif %}
        {% elif resultado == 'nenhum' %}
        <div class="alert alert-light text-center">
          <h3 class="text-center">Nenhum resultado encontrado</h3>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
