{% extends 'management/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-4">Procurar Agente</h1>
      <div class="row justify-content-center">
        <div class="col-lg-3 mx-auto">
          <a href="{% url 'menuagente' %}" class="btn btn-primary btn-block py-2 mb-4 rounded-pill"><i class="fas fa-home"></i> MENU DE AGENTES</a>
        </div>
        <div class="col-lg-3 mx-auto">
          <a href="{% url 'cadastraragente' %}" class="btn btn-success btn-block py-2 mb-4 rounded-pill"><i class="fas fa-plus mr-2"></i> ADICIONAR NOVO AGENTE</a>
        </div>
        <div class="col-lg-6 ml-auto">
          <form method="GET" autocomplete="off">
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="procura_agente" class="form-control" placeholder="Procure um agente">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        {% if agentes %}
          {% if agentes.count <= 6 %}
            {% for agente in agentes %}
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-header bg-dark text-white text-center">
                    <h4 class="mb-0">{{ agente.gritodeguerra }}</h4>
                  </div>
                  <div class="card-body">
                    <p><strong>Nome:</strong> {{ agente.nome|striptags|truncatechars:27 }}</p>
                    <p><strong>Data de Nascimento:</strong> {{ agente.datanascimento|date:'d/m/Y' }}</p>
                    <p class="mb-0"><strong>Sexo:</strong> {{ agente.sexo }}</p>
                  </div>
                  <div class="card-footer text-center">
                    <a href="{% url 'detalheagente' agente.id %}" class="btn btn-outline-primary">Detalhes</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-lg-12">
              <div class="table-responsive" id="tabela-colaboracao">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col" class="text-center">Grito de Guerra</th>
                      <th scope="col" class="text-center">Nome</th>
                      <th scope="col" class="text-center">Sexo</th>
                      <th scope="col" class="text-center">Data de Nascimento</th>
                      <th scope="col" class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for agente in agentes %}
                      <tr>
                        <th scope="row" class="text-center py-4">{{ agente.id }}</th>
                        <th scope="row" class="text-center py-4">{{ agente.gritodeguerra }}</th>
                        <th scope="row" class="text-center py-4">{{ agente.nome|striptags|truncatechars:27 }}</th>
                        <th scope="row" class="text-center py-4">{{ agente.sexo }}</th>
                        <th scope="row" class="text-center py-4">{{ agente.datanascimento|date:'d/m/Y' }}</th>
                        <th scope="row" class="text-center py-3"><a href="{% url 'detalheagente' agente.id %}" class="btn btn-outline-primary">Detalhes</a></th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        {% elif dica %}
          <h3 class="mx-auto text-secondary">{{ dica }}</h3>
        {% else %}
          <h2 class="mx-auto text-secondary">Nenhum resultado encontrado</h2>
        {% endif %}
      </div>


    </div>
  </section>
{% endblock %}
