body {
  font-family: 'Roboto', Arial;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #343a40;
}

body::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

#icon {
  transition: 0.3s;
}

#icon:hover {
  color: #797979;
}

#viatura::-webkit-scrollbar,
#agente-1::-webkit-scrollbar {
  width: 5px;
}

#viatura::-webkit-scrollbar-track,
#agente-1::-webkit-scrollbar-track {
  background: #4F4F4F;
  border-radius: 40px;
}

#viatura::-webkit-scrollbar-thumb,
#agente-1::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}

#select-option:hover {
  background: #248eff;
  color: #fff;
}

#add-agent {
  margin-right: 110px;
  decoration: none;
  color: #333;
  transition: 0.2s;
}

#my-modal {
  top: 30%;
}

#tabela-colaboracao {
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

#tabela-colaboracao::-webkit-scrollbar {
  width: 10px;
}

#tabela-colaboracao::-webkit-scrollbar-track {
  background: #343a40;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

#tabela-colaboracao::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 40px;
}
